<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{ mainTitle }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<link href='/stylesheets/style.css' type="text/css" rel="stylesheet" />

</head>

<body>
	{{>heading}}
	{{>googleMaps}}
	<script src='/javascripts/renderCities.js'></script>
	<script src='/javascripts/initMap.js'></script>
	<script src='/javascripts/main.js'></script>
</body>

</html>